body{
    color: #333333;
    text-align: center;
    font-weight: 600;
}
.grid{
    display: inline-grid;
    background: rgba(0,0,0,.2);
}
.text-left{
    color: black;
    text-align: left;
    font-weight: 400;
    font-size: 1.25rem;
}
.grid-container{
    display: inline-grid;  
    width: 100%;
    grid-template-rows:  1fr 1fr 1fr 1fr; /* 3 строки */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 3 столбца */
  
  
}
.grid-item__blue{
    background-color: rgb(0, 204, 255);
}
.grid-item__green{
    background-color: lime;
}
html {
    font: 18px/1.5 sans-serif;
  }
  

  table {
    color: #fff;
  
    background-color: #343a40;
  }
  
  td,
  th {
    padding: 1em;
  }
  
  th {
    text-align: left;
    vertical-align: bottom;
  }
  
  tbody tr {
    background-color: #2e3338;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-bold {
    font-weight: bold;
  }


.grid-24{
  display: grid;
  grid-template-columns: repeat(24,1fr);
  grid-template-rows: repeat(24,1fr);
  width: 100vw;
  height: 100vh;
}
.color1{
  background-color: #2e3338;
  grid-column: 1 / 25;
  grid-row: 1 / 4;
  
}
.color2{
  background-color: aqua;
  grid-column: 1 / 25;
  
  grid-row: 12 / 25;
  
}
.color3{
  background-color: rgb(68, 0, 255);
  grid-column: 1 / span 8;
  grid-row: 4 / 12;
  
}
.color4{
  background-color: rgb(255, 174, 127);
  grid-column: 9 / span 8;
  grid-row: 4 / 12;
  
}
.color5{
  background-color: rgb(238, 255, 0);
  grid-column: 17 / span 8;
  grid-row: 4 / 12;
  justify-content: space-around;
  
}